@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

@layer base {
    html {
        background-color: theme(colors.background);
    }
}